@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
:root {
  --color-gray-1: #828282;
  --color-gray-2: #4e5150;
  --color-gray-3: #333;
  --color-gray-4: #4F4F4F;
  --color-gray-5: #F2F2F2;
  --color-gray-6: #E0E0E0;
  --color-orange: #f2994a;
  --color-white: #FFFFFF; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 50%; } }

body {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem;
  line-height: 1.4; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 2.5rem; } }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

input,
select,
::placeholder {
  font-family: inherit;
  font-weight: inherit; }

.heading-1 {
  font-size: 3.6rem;
  color: var(--color-gray-2); }

.heading-2 {
  font-size: 1.8rem;
  color: var(--color-gray-3); }

.u-mb-xsmall {
  margin-bottom: 1rem; }

.u-mb-small {
  margin-bottom: 2rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-flex-row-reverse {
  flex-direction: row-reverse; }

@keyframes pulsate {
  0% {
    top: 4rem; }
  50% {
    top: 3.5rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  100% {
    top: 4rem; } }

select,
::placeholder {
  font-size: 1.6rem;
  color: var(--color-gray-1); }

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 2rem; }
  .input-group input[type="text"],
  .input-group input[type="email"],
  .input-group input[type="number"],
  .input-group select {
    font-size: 1.6rem;
    padding: 2rem 0 2rem 6rem;
    border-radius: 1.5rem;
    width: 100%;
    height: 60px;
    border: 1px solid var(--color-gray-1);
    outline: none; }
    @media only screen and (max-width: 28.125em) {
      .input-group input[type="text"],
      .input-group input[type="email"],
      .input-group input[type="number"],
      .input-group select {
        padding-left: 4.5rem; } }
  .input-group input:focus + .input-group__icon,
  .input-group select:focus + .input-group__icon {
    animation: pulsate 0.5s infinite; }
  .input-group__label {
    font-size: 1.2rem;
    color: var(--color-gray-2);
    display: block;
    margin-bottom: 1rem; }
  .input-group__icon {
    position: absolute;
    top: 4rem;
    left: 1rem;
    height: 3rem;
    width: 3rem;
    fill: var(--color-gray-1);
    border-radius: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .input-group__icon {
        top: 4.5rem; } }

.input-row {
  display: flex;
  margin-bottom: 2rem; }

.input-row .input-group {
  margin-bottom: 0; }
  .input-row .input-group:not(:last-child) {
    margin-right: 2rem; }

.save-info {
  font-size: 1.2rem;
  color: var(--color-gray-4); }

.btn {
  font-family: inherit;
  font-weight: inherit;
  display: block;
  font-size: 1.6rem;
  color: var(--color-white);
  padding: 1.7rem 4.5rem;
  border: none;
  border-radius: 1.5rem;
  outline: none;
  cursor: pointer; }
  .btn--orange {
    background-color: var(--color-orange); }

.btn-quantity {
  font-size: 1.6rem;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--color-gray-1);
  background-color: var(--color-gray-6);
  cursor: pointer; }

.cart {
  max-width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--color-gray-5);
  border-radius: 1.5rem; }
  .cart__product {
    max-width: 100%;
    padding-right: 4rem;
    display: grid;
    grid-template-columns: max-content minmax(min-content, 50%);
    grid-template-rows: max-content 1fr max-content;
    column-gap: 2rem; }
    .cart__product:not(:nth-last-child(2)) {
      margin-bottom: 2rem; }
    .cart__product:nth-last-child(2) {
      margin-bottom: 10rem; }
  .cart__img {
    grid-row: 1 / -1;
    width: 15rem;
    height: auto;
    border-radius: 1.5rem; }
  .cart__name {
    font-size: 1.6rem;
    color: var(--color-gray-2);
    margin-bottom: 0.5rem; }
  .cart__price-box {
    max-width: 100%;
    margin-bottom: auto;
    display: flex;
    align-items: center; }
  .cart__price:not(:last-child) {
    margin-right: 2rem; }
  .cart__price--discounted {
    font-size: 1.6rem;
    color: var(--color-orange); }
  .cart__price--total {
    font-size: 1.2rem;
    text-decoration: line-through;
    color: var(--color-gray-2); }
  .cart__quantity-box {
    padding: 1rem;
    border: 1px solid var(--color-gray-1);
    border-radius: 1.5rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .cart__quantity {
    font-size: 1.6rem;
    color: var(--color-gray-3); }
  .cart__quantity-input {
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-gray-3);
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none; }
  .cart__summary {
    color: var(--color-gray-3); }
    .cart__summary-shipping, .cart__summary-total {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .cart__summary-name {
      font-size: 1.8rem; }
    .cart__summary-price {
      font-size: 1.4rem; }

.checkout {
  display: grid;
  grid-template-columns: minmax(max-content, 60%) 1fr;
  column-gap: 8rem; }
  @media only screen and (max-width: 68.75em) {
    .checkout {
      grid-template-columns: 1fr 1fr;
      column-gap: 0; } }
  @media only screen and (max-width: 68.75em) {
    .checkout__info {
      grid-row: 2 / 3;
      grid-column: 1 / 3; } }
  .checkout__info-contact {
    margin-bottom: 5rem; }
  @media only screen and (max-width: 68.75em) {
    .checkout__cart {
      grid-column: 1 / 3;
      margin-bottom: 4rem; } }
