@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
    --color-gray-1: #828282;
    --color-gray-2: #4e5150;
    --color-gray-3: #333;
    --color-gray-4: #4F4F4F;
    --color-gray-5: #F2F2F2;
    --color-gray-6: #E0E0E0;
    --color-orange: #f2994a;
    --color-white: #FFFFFF;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100rem;
    margin: 0 auto;
    padding: 5rem;
    line-height: 1.4;
}
